body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  background-image: url(../img/background.png);
  background-repeat: repeat;
}

/*
 * Formatting the header area
 */

header {
  background-color: #27ae60;
  height: 35px;
  opacity: .9;
  margin: 10px;
  padding: 15px;
}

header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #ffffff;
  text-transform: uppercase;
  float: left;
}

/*
 * Tables
 */

#tbl {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

#tbl td, #tbl th {
  border: 1px solid #000000;
  padding: 8px;
}

#tbl th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2980b9;
  color: #ffffff;
}

#tbl tr:nth-child(even){
  background-color: #f2f2f2;
}

#tbl tr:nth-child(odd){
  background-color: #dddddd;
}

#tbl tr:hover {
  background-color: #6CA0B9;
}

/*
 * Body content
 */

.container_pickups {
  width: 1200px;
  margin: 0 auto;
}

.container_restart {
  background-color: #2980b9;
  color: #ffffff;
  width: 1500px;
  margin: 0 auto;
  padding: 10px;
}

.flash {
    color: #ffa500;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999999;
}

.menu {
  float: right;
  margin: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
}

.menu li a:hover {
  color: #0000ff;
  text-decoration: none;
}