<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
{% block content %}
    <div class ="container">
        <center>
        <h1>
            <table id="tbl">
                <tr>
                    <th><center>Map Name</center></th>
                    <th><center>Aliases</center></th>
                </tr>
                {% for item in data %}
                <tr>
                    <td>{{ item['name'] }}</td>
                    <td>{{ item['aliases'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </h1>
        </center>
    </div>
{% endblock %}
</html>