<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
{% block content %}
    <div class ="container_pickups">
        <center>
        <h1>
            <table id="tbl">
                <tr>
                    <th><center>Date</center></th>
                    <th><center>Map</center></th>
                    <th><center>Red Team Players</center></th>
                    <th><center>Blue Team Players</center></th>
                </tr>
                {% for item in data %}
                <tr>
                    <td>{{ item['time'] }}</td>
                    <td>{{ item['map'] }}</td>
                    <td>{{ item['redteam'] }}</td>
                    <td>{{ item['blueteam'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </h1>
        </center>
    </div>
{% endblock %}
</html>