<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
{% block content %}
    <div class ="container">
        <center>
        <h1>
            <center>Pickups</center>
        </h1>

        <h1>
            <table border="1">
                <tr>
                    <td><center>Date</center></td>
                    <td><center>Map</center></td>
                    <td><center>Red Team Players</center></td>
                    <td><center>Blue Team Players</center></td>
                </tr>
                {% for item in data %}
                <tr>
                    <td>{{ item['time'] }}</td>
                    <td>{{ item['map'] }}</td>
                    <td>{{ item['redteam'] }}</td>
                    <td>{{ item['blueteam'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </h1>
        </center>
    </div>
{% endblock %}
</html>