<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
{% block content %}
    <div class ="container">
        <h1>
            <center>You will need to authenticate by answering the question below before you may restart the bot</center>
        </h1>

        {% block content1 %}
        {% for message in form.answer.errors %}
        <div class="flash">{{ message }}</div>
        {% endfor %}

        <form method=post>
            {{ form.answer.label }}
            {{ form.answer }}

            {{ form.submit }}
        </form>
        {% endblock %}
    </div>
{% endblock %}
</html>