<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fortress Forever Pickup Bot Server List</title>
</head>
<style>
    th, td {
        padding: 15px;
    }
</style>
<body>
    <div class ="container">
        <center>
        <h1>
            <center>Servers</center>
        </h1>

        <h2>
            <table border="1">
                <tr>
                    <td><center>Server Name(s)</center></td>
                    <td><center>Server ID</center></td>
                </tr>
                {% for item in data %}
                <tr>
                    <td>{{ item['names'] }}</td>
                    <td>{{ item['serverid'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </h2>
        </center>
    </div>
</body>
</html>