<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
{% block content %}
    <div class ="container">
        <center>
        <h1>
            <center>Servers</center>
        </h1>

        <h1>
            <table border="1">
                <tr>
                    <td><center>Server Name(s)</center></td>
                    <td><center>Server ID</center></td>
                </tr>
                {% for item in data %}
                <tr>
                    <td>{{ item['names'] }}</td>
                    <td>{{ item['serverid'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </h1>
        </center>
    </div>
{% endblock %}
</html>